name: Release

on:
  release:
    types: [released]

concurrency: Release-${{ github.ref }}

jobs:
  docker-build:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: icarus-server
      scan-category: wine-latest
      image-tag: |
        latest
        ${{ github.event.release.tag_name }}
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  update-readme:
    runs-on: ubuntu-latest
    needs: [docker-build]
    steps:
      - uses: actions/checkout@v5
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: ${{ vars.DOCKER_USER }}/icarus-server
